.about {
    background-color: white;
    display: inline-block;
    width: 100%;
    padding: 100px 0;
}
.aboutme {
    display: inline-block;

}
.aboutme > .row {
    float: left;
    text-align: left;
}
.aboutme> .row > .photo {
    float: left;
    border: 10px solid #f4f5f8;
}
.aboutme> .row > .photo > img{
    display: inline-block;
    width: 100%;
}
.aboutme > .row > .text {
    float: left;
    padding: 0 15px 0 50px;
}
.aboutme > .row > .text > .info {
    border-bottom: 1px solid #f5f5f5;
}
.aboutme > .row > .text > .info > .title {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    font-size: 36px;
    margin-bottom: 50px;
}
.about-span2 {
    border-bottom: 1px solid #f5f5f5;
    color: #484848; 
    padding-bottom: 10px; 
    text-shadow: 2px 4px 3px rgb(0 0 0 / 10%); 
    font-weight: 400;
}

.about-span {
    color: #9c27b0;
    border-bottom: 1px solid #9c27b0;
    padding-bottom: 10px;
    text-shadow: 2px 4px 3px rgb(0 0 0 / 10%);
    font-weight: 400;
}

.text > .info > h6 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 20px;
    color: #282830;
    letter-spacing: 1.8px;
}
.text > .info > p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #777;
    font-family: 'Roboto', sans-serif;
}
.shortInfo {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.shortInfo > .left-column{
    float: left;
    padding: 0 15px;
    width: 100%;  
}
.shortInfo > .right-column{
    float: left;
    padding: 0 15px;
    width: 100%;
}
ul {
    list-style: none;
}
li {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #282830;
    font-weight: bold;
}
li > span {
    text-transform: capitalize;
    padding: 0 8px;
    color: #676767;
    font-weight: bold;
}

@media (min-width: 576px) {
.shortInfo > .left-column,
.shortInfo > .right-column{
    width: 50%;
}
}

@media (min-width: 768px) {
.container > .row > [class*='col-']{
    margin: 0;
}
.about  > .container > .row > .photo {
    margin-left: var(--gap);
}
.shortInfo > .left-column,
.shortInfo > .right-column{
    width: 100%;
}
}

@media (min-width: 992px) {
.container > .row > [class*='col-']{
     margin: 0;
        
}
.about  > .container > .row > .photo {
    margin-left: var(--gap);
}
.shortInfo > .left-column,
.shortInfo > .right-column{
    width: 50%;
}
}