
.footer h6 {
	font-size: 16px;
	color: #E0E0E0;
}

.footer h6 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.footer h6 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
}

.footer {
	text-align: center;
}

.footer {
	background-color: #282830;
	padding: 2rem;
	border-top: 1px solid #e0e0e0;
    color: #e0e0e0;
}

.text-center {
	text-align: center;
}


