/* header section */

.background {    
    position: relative;      
    width: 100%;
    height: 100vh; 
    background-image: url(/img/netlifyheader.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    
}
.background::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.header {
    color: rgb(255, 255, 255);    
    display: inline-block;    
    width: 100%;
    
    
}

.header .navigation {
    display: inline-block;     
    width: 100%;      
    position: fixed;
    padding-top: 10px;
    overflow: hidden;   
}

.header .navigation .backtt .logo {
    display: block;    
    float: left;
    height: 40px;   
    margin-top: 20px;  
    padding-left: 20%;
    cursor: pointer;
   
     
}
.header .navigation .links{
   display: block;   
   margin-left: 55%;
   margin-top: 10px;
  
   
}  
.header .navigation .links > a{
    display: block;        
    float: left;  
    color: white;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    margin:  15px;   
    
}  

    

.header .main {
    display: block;   
    text-align: center; 
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
   
}
   
.header .welcometitle {
    display: inline-block;    
    margin-bottom: 25px;   
    font-family: 'Raleway', sans-serif; 
    font-size: 35px;
    color: rgb(196, 192, 192);
    
    
    
}

.header .title {
    display: inline-block;
    width: 100%;    
    font-size: 80px;
    margin-bottom: 45px;
    
}

.header .main .social {
    display: inline-block; 
    padding: 10px; 
    
}
.header .main .social .fa {
    display: inline-block; 
    font-size: 20px; 
    width: 50px;     
    line-height: 50px;
    text-decoration: none;   
    cursor: pointer; 
    background: rgba(0, 0, 0, 0.2);   
    color: #fff;  
    border-radius: 50%;  
    transition: all 0.4s;
    text-align: center;
    margin: 5px;
    
}
.header .main .social .fa:hover {
    background-color: darkviolet;
}

