.skills {
    display: inline-block;
    width: 100%;
    padding: 100px 0;
    background-color: #F4F5F8;
}

.skills > .container {
    width: 100%;
    text-align: center;
}

.skills > .container > .row > .title {
    width: 100%;
    text-align: center;
}

.skills > .container > .row > .title > h4 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 50px;
    padding-bottom: 10px;
    text-transform: capitalize;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.skills > .container > .row > .title > h4 > .skills-span {
    color: #9c27b0;
    border-bottom: 1px solid #9c27b0;
}

.skills > .container > .row > .title > h4 > .skills-span2 {
    padding-bottom: 10px;
    font-size: 2.2rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.skills > .container > .row-pr {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: left;
    padding: 0 70px;
}

.skills > .container > .row-pr > .left-column {
    display: inline-block;
    width: 50%;
}

.skills > .container > .row-pr > .right-column {
    display: inline-block;
    width: 50%;
    padding: 0 0 0 10px;
}

.progress-bar {
    display: inline-block;
    width: 90%;
    margin-bottom: 30px;
}

.progress-bar:last-of-type {
    margin-bottom: 0px;
}

.progress-bar > .texts {
    display: inline-block;
    width: 90%;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-bottom: 15px;
    text-transform: uppercase;
    position: relative;
}

.progress-bar > .texts > label {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;
    padding: 0 4px;
}

.progress-bar > .texts > value {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
    font-size: 12px;
    font-family: #9c27b0;
    position: absolute;
}

.progress-bar > .bar {
    display: inline-block;
    float: left;
    text-align: left;
    width: 100%;
    height: 5px;
    background-color: #fff;
}

.progress-bar > .bar > .progress {
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.progress-bar > .bar > .progress > .loading {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #9c27b0;
    border-radius: 40px;
    animation-name: loading;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@media (min-width: 780px) {
    .skills > .container > .row-pr > .left-column,
    .skills > .container > .row-pr > .right-column  {
        display: inline-block;
        width: 50%;
        float: left;
    }
}

@media (max-width: 768px) {
    .skills > .container > .row-pr > .left-column,
    .skills > .container > .row-pr > .right-column  {
        display: inline-block;
        width: 100%;
        float: left;
        padding: 0 0 0 40px;
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .skills > .container > .row-pr {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .skills > .container > .row-pr > .left-column,
    .skills > .container > .row-pr > .right-column  {
        display: inline-block;
        width: 100%;
        float: left;
        padding: 0 0 0 40px;
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .progress-bar  {
        display: inline-block;
        width: 100%;
        float: left;
        margin-top: 0px;
    }
}